.HomeContent {
    min-width: 96vw;
    max-width: 50vw;
    height: fit-content;
    padding: var(--padding-app);
}

.section {

    width: 100%;
    border: #d2d4d7 solid 1px;
    border-radius: 20px;
    background-color: white;
}